
img {
    width: 100px;
    height: 100px;
}
th {
    font-size: 50px;
}
td {
    height: 50px;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    }
table {
    padding-right: 20px;
    background: rgb(12, 1, 110);
    color: white;
}
.borderbottom {
    border-bottom: 1px solid;
}
.align {
    vertical-align: top;
}
.align1 {
    vertical-align: bottom;
}
em {
    padding-left: 20px;
    font-size: x-large;
}